*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.row, .box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 50%;
    flex-direction: column;
}
.row .back i, .row .forward i{
    font-size: 80px;
    margin: 10px;
}

.images{
    width: 100%;
    height: 450px;
}

.images img{
    width: 100%;
    height: 100%;
    display: none;
}

.images img.jq-active{
    display: inline-block;
}

.circles i {
    color: blue;
    margin-top: 10px;
}

.jq-full{
    border-radius: 100%;
    background-color: blue;
}
